{% extends "base.html" %}
{% block main %}
<div class="top-bar top-bar_fixed">
  <div class="small-header show-for-small-only text-center">驰荣科技 
    <a href="#" class="menu-toggle float-right"><i class="fa fa-bars"></i></a>
  </div>
  <ul class="menu show-for-medium-large text-right" id="nav">
    <li class="active"><a href="#section1">驰荣科技</a></li>
    <li><a href="#section2">公司简介</a></li>
    <li><a href="#section3">公司理念</a></li>
    <li><a href="#section4">产品服务</a></li>
    <li><a href="#section5">团队介绍</a></li>
    <li><a href="#section6">合作伙伴</a></li>
    <li><a href="#section7">联系我们</a></li>
  </ul>
</div>
<div class="section" id="section1">
  <div class="container">
    <div class="wrap">
      <div class="show-for-large-only large-6"></div>
      <div class="medium-12 large-6">
    <h1><small class="subheader">The country's leading "Internet plus" service providers</small>全国领先的“<span class="leader">互联网+</span>”服务商</h1>
      </div>
    </div>
  </div>
</div>
<div class="section" id="section2">
  <div class="container">
  <div class="wrap">
    <div class="medium-12 large-6">
    </div>
    <div class="medium-12 large-6">
      <h4>公司简介
        <small class="subheader">Company profile</small>
      </h4>
      <div class="description">
        <p><span class="leader">济南驰荣信息科技有限公司</span>是一家专注于移动端技术服务的公司。</p>  
        <p>公司自成立以来，服务客户涉及的行业包括健康、医疗、汽车、生态农业等领域，</p>
        <p>专注于移动端技术的研究与应用；致力于传统企业的移动互联网转型。</p>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="section" id="section3">
  <div class="container">
  </div>
</div>
<div class="section" id="section4">
  <div class="container">
    <div class="wrap">
      <div class="small-12 medium-4">
        <div class="box-bg"></div>
        <div class="box">
          <h5><span class="leader">技术开发</span>服务项目</h5>
          <p>企业官网建设：</p>
          <p>企业官网标准版</p>
          <p>企业官网定制版</p>
          <p>微信平台开发：</p>
          <p>微信平台基础版</p>
          <p>微信平台升级版</p>
          <p>微信平台定制版</p>
        </div>
      </div>
      <div class="small-12 medium-4">
        <div class="box-bg"></div>
        <div class="box">
          <h5><span class="leader">形象设计</span>服务项目</h5>
          <p>企业、品牌LOGO设计</p>
          <p>企业宣传图、海报等设计</p>
          <p>其他平面设计、网页设计服务</p>
        </div>
      </div>
      <div class="small-12 medium-4">
        <div class="box-bg"></div>
        <div class="box">
          <h5><span class="leader">产品策划</span>与<span class="leader">咨询</span>服务项目</h5>
          <p>传统企业向互联网转型的咨询与策划</p>
          <p>互联网品牌运营策划的咨询与策划</p>
          <p>互联网品牌平台搭建的咨询与策划</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="section5">
  <div class="container">
  </div>
</div>
<div class="section" id="section6">
  <div class="container">
    <div class="wrap">
      {% for i in range(1,9) %}
      <div class="small-6 medium-3">
      <img src="img/dblogo{{ i }}.png">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section" id="section7">
  <div class="container">
    <div class="wrap">
      <div class="small-12 medium-6">
        <h4>联系我们
          <small class="subheader">Contact US</small>
        </h4>
        <div class="address">
          <p class="leader">济南驰荣信息科技有限公司</p>
          <p>地址：山东省济南市高新区会展西路88号香格里拉1号楼22F</p>
          <p>联系人：金老师</p>
          <p>电话：15662798288</p>
          <a href="http://weibo.com/2772941304/profile?topnav=1&wvr=6&is_all=1" class="circle"><img src="img/xinlang.png"></a>
          <a href="#" class="circle"><img src="img/weixin.png"></a>
        </div>
      </div>
      <div class="small-12 medium-6">
        <img src="img/map.png">
      </div>
    </div>
  </div>
</div>
{% endblock %}
